<%= form_with(model: @company, local: true) do |form| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :operating_company_name %><br>
    <%= form.text_field :operating_company_name %>
  </p>

  <p>
    <%= form.label :home_page_url %><br>
    <%= form.text_field :home_page_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>