<p>
  <strong>Title:</strong>
  <%= @company.operating_company_name %>
</p>

<p>
  <strong>ShopName:</strong>
  <%= @company.home_page_url %>
</p>

<h2>店舗追加:</h2>
<%= render 'shops/form' %>

<h2>店舗一覧</h2>
<%= render 'shops/shops', shops: @company.shops %>

<%= link_to '編集する', edit_operating_company_path(@company) %> |
<%= link_to '一覧に戻る', operating_companies_path %>